* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'myriad';
    src: url(fonts/myriad.otf);
    font-weight: regular;
}

#contenido3{
    background-color: black;
}

#contenido4{
    background-color: black;
}

#contenido5{
    background-color: black;
}
#contenido6{
    background-color: black;
}
img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

#pozoUnidad {
    font-size: 122pt;
    font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF;
    left: 32%;
    top: 30%;
    position: absolute;
}

#millones {
    font-size: 122pt;
    font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF;
    left: 15%;
    top: 30%;
    position: absolute;
}

#date {
    font-size: 34pt;
    font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF;
    left: 5%;
    top: 66px;
    position: absolute;
}

/* 800x420 */
@media only screen and (max-width: 800px) {
    #pozoUnidad {
        font-size: 75pt !important;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF !important;
        position: absolute;
        left: 37%;
        top: 37%;
        letter-spacing: 1px;
    }

    #millones {
        font-size: 60pt !important;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF !important;
        font-style: italic;
        left: 80%;
        top: 40%;
        position: absolute;
    }

    #date {
        font-size: 14pt;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF !important;
        left: 62%;
        top: 80px;
        position: absolute;
    }
}

/* 768x384 */
@media only screen and (max-width: 768px) {
    #pozoUnidad {
        font-size: 75pt !important;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF !important;
        position: absolute;
        left: 37%;
        top: 37%;
        letter-spacing: 1px;
    }

    #millones {
        font-size: 63pt !important;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF !important;
        font-style: italic;
        left: 79%;
        top: 38%;
        position: absolute;
    }

    #date {
        font-size: 15pt;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF !important;
        left: 62%;
        top: 71px;
        position: absolute;
    }
}

/* 720x360 */
@media only screen and (max-width: 720px) {
    #pozoUnidad {
        font-size: 75pt !important;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF;
        position: absolute;
        left: 37%;
        top: 37%;
        letter-spacing: 1px;
    }

    #millones {
        font-size: 60pt !important;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF !important;
        font-style: italic;
        left: 79%;
        top: 38%;
        position: absolute;

    }

    #date {
        font-size: 13pt;
        font-family: 'myriad', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFF !important;
        left: 62%;
        top: 71px;
        position: absolute;
    }
}