* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'COCOGOOSE';
    src: url(fonts/Cocogoose.otf);
    font-weight: regular;
}

img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

#pozoUnidad {
    font-size: 122pt;
    font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2F4F4F;
    left: 32%;
    top: 30%;
    position: absolute;
}

#millones{
    font-size: 122pt;
    font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2F4F4F;
    left: 15%;
    top: 30%;
    position: absolute;
}

#date{
    font-size: 34pt;
    font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2F4F4F;
    left: 5%;
    top: 66px;
    position: absolute;
}

/* 800x420 */
@media only screen and (max-width: 800px) {
    #pozoUnidad {
        font-size: 68pt!important;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;
        position: absolute;
        left: 33%;
        top: 31%;
        letter-spacing: -10px;

    }
    #millones{
        font-size: 68pt!important;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;    
        left: 21%;
        top: 31%;
        position: absolute;
    }

    #date{
        font-size: 19pt;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;
        left: 5%;
        top: 54px;
        position: absolute;
    }
}

/* 768x384 */
@media only screen and (max-width: 768px) {
    #pozoUnidad {
        font-size: 67pt!important;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;
        position: absolute;
        left: 33%;
        top: 31%;
    }

    #millones{
        font-size: 65pt!important;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;
        left: 21%;
        top: 31%;
        position: absolute;
    }

    #date{
        font-size: 19pt;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;
        left: 5%;
        top: 45px;
        position: absolute;
    }
}

/* 720x360 */
@media only screen and (max-width: 720px) {
    #pozoUnidad {
        font-size: 67pt!important;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;
        left: 33%;
        top: 31%;
        position: absolute;
    }

    #millones{
        font-size: 65pt!important;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;
        left: 21%;
        top: 31%;
        position: absolute;
    }

    #date{
        font-size: 19pt;
        font-family: 'COCOGOOSE', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2F4F4F;
        left: 5%;
        top: 40px;
        position: absolute;
    }
}